footer{
	    background-color: #000;
}

footer .container{
	text-align: center;
	font-family: $main-font;
	text-transform: uppercase;
	font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ccc;
}