/* Common style */

.fl-post-grid figure , .fl-post-grid-svg figure {
	position: relative;
	float: left;
	overflow: hidden;
	/*margin: 10px 1%;
	min-width: 320px;*/
	max-width: 300px;
	max-height: 210px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.fl-post-grid figure img, .fl-post-grid-svg figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.fl-post-grid figure figcaption, .fl-post-grid-svg figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fl-post-grid figure figcaption::before,.fl-post-grid-svg figure figcaption::before,
.fl-post-grid figure figcaption::after ,.fl-post-grid-svg figure figcaption::after  {
	pointer-events: none;
}

.fl-post-grid figure figcaption,.fl-post-grid-svg figure figcaption,
.fl-post-grid figure figcaption > a, .fl-post-grid-svg figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.fl-post-grid figure figcaption > a, .fl-post-grid-svg figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.fl-post-grid figure h2, .fl-post-grid-svg figure h2 {
	word-spacing: -0.15em;
	font-weight: 600;
}
.fl-post-grid figure h2 a, .fl-post-grid-svg figure h2 a {
	color:#fff;
}

.fl-post-grid figure h2 span, .fl-post-grid-svg figure h2 span {
	font-weight: 800;
}

.fl-post-grid figure h2, .fl-post-grid-svg figure h2,
.fl-post-grid figure p, .fl-post-grid-svg figure p {
	margin: 0;
}

.fl-post-grid figure p, .fl-post-grid-svg figure p  {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */
/*---------------*/
/***** SADIE *****/
/*---------------*/

.masonry.romeo figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

.masonry.romeo figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
}

.masonry.romeo figure.effect-sadie figcaption::before,
.masonry.romeo figure.effect-sadie p {
	transition: opacity 0.35s, transform 0.35s;
}

.masonry.romeo figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	transform: translate3d(0,10px,0);
}

.masonry.romeo figure.effect-sadie:hover h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

.masonry.romeo figure.effect-sadie:hover figcaption::before ,
f.masonry.romeo igure.effect-sadie:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}



/*---------------*/
/***** Marley *****/
/*---------------*/

.masonry.marley  figure figcaption {
	text-align: right;
}

.masonry.marley  figure h2,
.masonry.marley  figure p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


.masonry.marley  figure p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.masonry.marley  figure h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.masonry.marley  figure:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.masonry.marley  figure h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.masonry.marley  figure h2::after,
.masonry.marley  figure p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.masonry.marley  figure:hover h2::after,
.masonry.marley  figure:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

.masonry.bubba figure {
	/*background: #d94f5c;*/

    background-color: rgba(#d94f5c, .5);	
  
}

.masonry.bubba figure img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}


.masonry.bubba figure h2 a {
    background-color: rgba(217,79,92,1);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

.masonry.bubba figure:hover h2 a {
    background-color: rgba(122,122,122,0);
    padding-left: 10px;
    padding-right: 10px;
}

.masonry.bubba figure:hover img {
	opacity: 0.4;
	 background-color: rgba(#d94f5c, .8);	
}

.masonry.bubba figure figcaption::before,
.masonry.bubba figure figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.masonry.bubba figure figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.masonry.bubba figure figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.masonry.bubba figure h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

.masonry.bubba figure p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

.masonry.bubba figure:hover figcaption::before,
.masonry.bubba figure:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.masonry.bubba figure:hover h2,
.masonry.bubba figure:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



/*---------------*/
/***** Romeo *****/
/*---------------*/

.masonry.romeo figure {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.masonry.romeo figure img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,300px);
	transform: translate3d(0,0,300px);
}

.masonry.romeo figure:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.masonry.romeo figure figcaption::before,
.masonry.romeo figure figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.masonry.romeo figure:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

.masonry.romeo figure:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

.masonry.romeo figure h2,
.masonry.romeo figure p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.masonry.romeo figure h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

.masonry.romeo figure p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

.masonry.romeo figure:hover h2 {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

.masonry.romeo figure:hover p {
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}