 // Add/remove floats
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}
.clear {
  clear: both;
}
// Text alignment
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
// Apply capital case to an element
.caps {
  text-transform: uppercase;
}


@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}


.fl-rich-text p, .fl-accordion-content {
  font-size: 18px;
}

.fl-rich-text h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}


.fl-rich-text h3{
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
 span{
      font-size: 22px !important;
 }
}

